body {
    font-family: 'Montserrat', sans-serif;  
    padding-bottom: 50px;
}

.header {
    text-align: center;
    font-weight: 700;
}

.question {
    font-weight: 600;
    font-size: medium;
    padding-top: 30px;
}

.submit{
    width: 135px;
    margin-left: 100px;
    margin-top: 15px;
    transition: all .1s ease-in-out;
}

.submit:hover { 
    transform: scale(1.1); 
}